server {
    listen 80;

    server_name {{ ansible_ssh_host }};
    server_name sth49.srequest.ru;

    root /var/www/wordpress;
    index index.php;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
       include fastcgi_params;
       fastcgi_index index.php;
       fastcgi_pass unix:/var/run/php-fpm/www.sock;
       fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

}