global:
  scrape_interval: 15s

rule_files:
  - rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
           - 'localhost:9093'

scrape_configs:

  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9100']
      - labels:
          distribution: '{{ ansible_distribution }}'
          enviroment: 'infra'

{% for host in groups[hostvars[inventory_hostname]['monitoringAgnets']] %}

  - job_name: {{host}}
    scrape_interval: 5s
    static_configs:
      - targets: [ {{hostvars[host]['ansible_host']}}:9100 ]
      - labels: 
          distribution: '{{ ansible_distribution }}'
          enviroment: '{{ hostvars[inventory_hostname]['monitoringAgnets'] }}'
{% endfor %}