global:
  scrape_interval: 15s

  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9100']

{% for host in groups['dev_infra'] %}

  - job_name: {{host}}
    scrape_interval: 5s
    static_configs:
      - targets: [ {{hostvars[host]['ansible_host']}}:9100 ]

{% endfor %}