<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ wp_db_name }}' );

/** Database username */
define( 'DB_USER', '{{ wp_db_user }}' );

/** Database password */
define( 'DB_PASSWORD', '{{ wp_db_password }}' );

/** Database hostname */
define( 'DB_HOST', 'localhost' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '3+m$z00|W(-|.t2:!45>~EC%Wj`APv)7~_&%kn]c@]zD5la<L9$Qj;#;sF~OZLVw');
define('SECURE_AUTH_KEY',  '#-[r1%t>jg~j9fo/kk[onf&MLn x!qa7h2S_pI^~@uC*`I4-1{{?P6r8ve^x?b.;');
define('LOGGED_IN_KEY',    '0#+|* -!3W).ppkvx]}7gCRKUiOZB6j3.M#AL|iQ>GdlD1oN{N,BE6w=alQO7_]n');
define('NONCE_KEY',        '<WtX+Mjk&:v:/t>8co H=fm)Z g82r7SxH*1qv/_b15XT0K1pf:5CL,#F^rk8ghY');
define('AUTH_SALT',        'YXC+7lX/xZqW2Iam((u,H^?x@+P8yVRcA7fUsML.flQ4X$s@Qn12V|@g4 zane2A');
define('SECURE_AUTH_SALT', '+7R2!2O8`X%/hs*P5lthS5t||.TG$p)*>I1|oQA8:^6$i`Li.O}a8OR)s6)?-9Gg');
define('LOGGED_IN_SALT',   '-iAX,;|2>.l-~[7>ou//qiR`89CG`@j(E[bA)|7^/fRZ|&g2FV^ZYSzu(`4)#gqC');
define('NONCE_SALT',       'p_-<13OGj/{&knRP9}V4% 2@]}L%2Iji+?Pn~6QU8ydcwC%?n|+FAXUlBVjHi|oQ');


define( 'WP_HOME', 'http://{{ ansible_ssh_host }}' );
define( 'WP_SITEURL', 'http://{{ ansible_ssh_host }}' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define('FS_METHOD', 'direct');

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
